*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent{
    height: 50vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    /* flex-direction: row-reverse; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: wrap; */
    /* flex-flow: column wrap ; */
}

.child{
    background-color: black;
    width: 100px;
    height: 100px;
    margin: 10px;
    color: aliceblue;
}

.txt{
    /* font-size: 3em; */
    /* order: 2; */
    /* flex-grow: 2; */
    flex-shrink: 2;
    align-self: center;
}

.def{
    /* flex-grow: 3; */
    /* flex-shrink: 3; */
}